{% extends 'account/base.html' %}
{% block title %}Add a New Folder{% endblock %}
{% block folders_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New Folder</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'account/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>What is Secure File Sharing?</h3>
                    <p>Secure File Sharing is an online file storing website which helps you to store files on the server and share it with others.</p>
                    <h3>How do I add File?</h3>
                    <p>First, create a new folder by filling out the form on this page. Once an folder is created you will be able to add/upload file.</p>

                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
